.issuer-node {
    display: flex;
    flex-direction: column;
}

.issuer-row {
    position: relative;
}

.issuer-flag {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.issuer-row:hover .issuer-label .catalog-link {
    text-decoration: underline;
}

.issuer-row:hover .type {
    color: var(--text-muted);
    opacity: 1;
    cursor: default;
}

.issuer-row.is-historical {
    font-style: italic;
    color: var(--brand-green);
}

.toggle-icon {
    text-decoration: none !important;
}

.issuer-row:hover .toggle-icon {
    text-decoration: none;
    color: var(--text-muted);
}

.issuer-label {
    transition: filter 0.2s;
}

.issuer-children {
    display: flex;
    flex-direction: column;
}
